<!DOCTYPE html>
<html>
<head>
	{{>headerlinks}}
	<script src="https://use.fontawesome.com/4c7a69d8f8.js"></script>
	<title>About Page</title>
	<style>
		body{
			overflow-x: hidden;
		}
	</style>
</head>
<body>
	<header>
		{{>header}}
	</header>

	<section>
		<img src="public/images/404.png" height="400">
	</section>

	<footer>
		{{>footer}}
	</footer>
</body>
</html>