<!DOCTYPE html>
<html>
<head>
	{{>headerlinks}}
	<script src="https://use.fontawesome.com/4c7a69d8f8.js"></script>
	<title>About Page</title>
</head>
<body>
	<header>
		{{>header}}
	</header>

	<section>
		<div class="row mt-3">
			<div class="col-md-6 col-12 text-center">
				<img src="public/images/about.jpg" class="aboutimg">
			</div>
			<div class="col-md-6 col-12 mt-4 mb-4">
				<h1 class="display-4">Darshan Balar</h1>
				<h5> - Study At C.B Patel Computer College,Vesu,Surat</h5>
				<!-- <h5>Vesu,Surat</h5> -->

				<hr style="background-color:lightgray;">

				<h5 style="color:gray;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>

				<hr style="background-color: lightgray;">

				<h4 style="margin:0;padding:0;">balardarshan40@gmail.com</h4>
<<<<<<< HEAD

<<<<<<< HEAD
				<h4>+91 9537337190</h4>
=======
			
>>>>>>> refs/remotes/origin/main

=======
				<h4> +91 7623919268</h4>
			
	
>>>>>>> refs/remotes/origin/main
			</div>
		</div>
	</section>

	<footer>
		{{>footer}}
	</footer>
</body>
</html>
