<!DOCTYPE html>
<html>
<head>
	{{>headerlinks}}
	<script src="https://use.fontawesome.com/4c7a69d8f8.js"></script>
	<title>About Page</title>
</head>
<body>
	<header>
		{{>header}}
	</header>

	<section>
		<h3><i class="fa fa-instagram" aria-hidden="true"></i> @darshanbalar40</h3>
	</section>

	<footer>
		{{>footer}}
	</footer>
</body>
</html>