<!DOCTYPE html>
<html>
<head>
	{{>headerlinks}}
	 <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cloudy - Check Live Weather</title>
	<meta name="descrption"
        content="Cloudy is an application which shows entered city current weather with accuracy">
    <meta name="keywords" content="cloud,weather ,live weather,clody">
    <meta name="author" content="darshan balar">
    <link rel="shortcut icon" type="image/png" href="https://res.cloudinary.com/dexratgkq/image/upload/v1688203834/qk1xedziaaqq2vsuq1b3.jpg">

    <meta itemprop="name" content="Cloudy - Check Live Weather" />
    <meta itemprop="description"
        content="Cloudy is an application which shows entered city current weather with accuracy" />
    <meta itemprop="image" content="https://res.cloudinary.com/dexratgkq/image/upload/v1688203834/qk1xedziaaqq2vsuq1b3.jpg" />

    <meta property="og:title" content="Cloudy - Check Live Weather" />
    <meta property="og:description"
        content="Cloudy is an application which shows entered city current weather with accuracy" />
    <meta property="og:type" content="website" />

    <meta property="og:image" content="https://res.cloudinary.com/dexratgkq/image/upload/v1688203834/qk1xedziaaqq2vsuq1b3.jpg" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="Cloudy - Check Live Weather" />
    <meta property="twitter:description"
        content="Cloudy is an application which shows entered city current weather with accuracy" />

    <meta property="twitter:type" content="website" />
    <meta name="twitter:image:alt" content="Dtalk-Logo">
    </meta>
	
</head>
<body>
	<header>
		{{>header}}
	</header>
	<section>
		<form id="form">
			<div class="form-group">
				<input type="text" name="searchInput" placeholder="Enter City Name" id="searchInput">
				<span class="error"></span>
				<input type="submit" name="searchButton" id="searchButton" value="Search">
			</div>
		</form>

		<div class="content" id="content">
			
		</div>
	</section>
	<footer>
		{{>footer}}
	</footer>

	<script type="text/javascript" src="public/js/main.js"></script>
</body>
</html>