<div class="navbar_container">
			
			<div class="navbar_title">
					<img src="https://res.cloudinary.com/dexratgkq/image/upload/v1688203834/qk1xedziaaqq2vsuq1b3.jpg" alt="logo">
					<span>{{title}}</span>
			</div>

			<div class="links">
				<ul>
					{{!-- <li><a href="/">Home</a></li> --}}
					{{!-- <li><a href="/about">About Me</a></li> --}}
				</ul>
			</div>
</div>